#event-section {
    width: 80%;
}

#navbar {
    width: 60em;
}

@media (max-width: 1450px) {
    #public-event-section,
    #private-event-section,
    #RSO-event-section,
    #rso-section,
    #rso-list,
    #current-rso-sectionevent-section {
        width: 100%;
    }
}

.card {
    margin-top: 1em;
}

#eventDescription {
    margin-bottom: 10px;
}

.eventHeaders {
    margin: 0 auto;
    margin-top: 0.25em;
    padding: 0.25em;
    width: 80%;
}

.locationDiv {
    display: flex;
    flex-direction: row;
}

.locationElement {
    margin-left: 0.25em;
}

#public-event-section,
#private-event-section,
#RSO-event-section,
#rso-section,
#rso-list,
#current-rso-section {
    width: 80%;
}
