.scoreboardTable {
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    color: rgb(0, 0, 0);
    }
    .scoreboardTableHeaderRow {
    color: darkorange;
    font-weight: bold;
    height: 50px;
    }
    .scoreboardTableBodyRow:hover {
        color: rgb(243, 197, 111);
    }
    .scoreboardTableBodyRow:nth-child(odd){background-color: rgba(128, 128, 128, 0.050);}
    #latestUserScore {
    background-color: crimson;
    }
    .scoreboardTable tr td {
    height: 25px;
    }