#event-section {
    width: 80%;
}

#navbar {
    width: 60em;
}

@media (max-width: 1450px) {
    #event-section {
        width: 100%;
    }
}

.card {
    margin-top: 1em;
}

p {
    margin-bottom: 5px;
}

.locationDiv {
    display: flex;
    flex-direction: row;
}

.locationElement {
    margin-left: 0.25em;
}
