#public-event-section,
#private-event-section,
#RSO-event-section {
    width: 80%;
}

.eventHeaders {
    margin: 0 auto;
    margin-top: 0.25em;
    padding: 0.25em;
    width: 80%;
}

#navbar {
    width: 60em;
}

@media (max-width: 1450px) {
    #public-event-section,
    #private-event-section,
    #RSO-event-section,
    .eventHeaders {
        width: 100%;
    }
}

.card {
    margin-top: 1em;
}

p {
    margin-bottom: 5px;
}

#eventDescription {
    margin-bottom: 10px;
}

#collegeSelect {
    width: 100%;
    min-height: 40px;
    margin-bottom: 5px;
    margin-top: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
}

.locationDiv {
    display: flex;
    flex-direction: row;
}

.locationElement {
    margin-left: 0.25em;
}
