<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Unify</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="styles/dashboard.css" />
        <link rel="stylesheet" href="styles/rsoDashboard.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid" id="navbar">
                <a class="navbar-brand" href="#">Unify</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Create RSO
                </button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='universitySelect.html'">
                    Select University Affiliation
                </button>
            </div>
        </nav>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create an RSO</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="rsoForm">
                    <label for="recipient-name" class="col-form-label">Name of Registered Student Organization:</label>
                    <input type="text" class="form-control" id="eventName">

                    <label for="recipient-name" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="eventDescription">

                    <p> Must have 4 other Student Emails with same email domain.</p>
                    
                    <label for="recipient-name" class="col-form-label">Your Email:</label>
                    <input type="text" class="form-control" id="eventEmail">

                    <label for="recipient-name" class="col-form-label">Email 1:</label>
                    <input type="text" class="form-control" id="eventEmail1">

                    <label for="recipient-name" class="col-form-label">Email 2:</label>
                    <input type="text" class="form-control" id="eventEmail2">

                    <label for="recipient-name" class="col-form-label">Email 3:</label>
                    <input type="text" class="form-control" id="eventEmail3">

                    <label for="recipient-name" class="col-form-label">Email 4:</label>
                    <input type="text" class="form-control" id="eventEmail4">

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create RSO</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                    </div>
                </form>
            </div>
            
        </div>
        </div>
    </div>

    <body>
        <h1 id="rso-list" class="eventHeaders">List of RSOs</h1>
        <section class="container-fluid" id="rso-section"></section>

        <script type="text/javascript" src="scripts/rso.js"></script>
        <script type="text/javascript" src="scripts/rsoDashboard.js"></script>
        <script type="text/javascript" src="scripts/rsoSelect.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>